<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <!-- app.js의 el에 지정됨 -->
  <div id="app"> 
    <header>
      <h2 class="container">검색</h2>
    </header>
    <div class="container">
      <!-- app.js에서 만든 vue인스턴스와 바인딩 되어서 template에 있는 html을 불러옴. -->
      <search-form v-bind:value="query" v-on:@submit="onSubmit" v-on:@reset="onReset">
      </search-form>
      

      <!-- 검색 결과 표현 -->
      <!-- 서브밋이 되었을때만 아래 내용을 노출한다. -->
      <div v-if="submitted">
        <!-- v-if : 내의 판정이 참일경우 내부의 사항을 내보인다. -->
        <!-- 검색결과가 있을경우에 아래 값이 보인다. -->
        <search-result v-bind:data="searchResult" v-bind:query="query"></search-result>

      </div>
      <div v-else>
        <ul class="tabs">
          <li v-for="tab in tabs" v-on:click="onClickTab(tab)" v-bind:class="{active: tab === selectedTab}">
            {{tab}}
          </li>
        </ul>

        <div v-if="selectedTab === tabs[0]">
            <div v-if="keywords.length">
              <ul class="list">
                <li v-for="(item, index) in keywords"
                v-on:click="onClickKeyword(item.keyword)">
                  <span class="number">{{index+1}}</span>
                  {{item.keyword}}
                </li>
              </ul>
            </div>
            <div v-else>
              추천검색어가 없습니다.
            </div>
        </div>
        <div v-else>
            <div v-if="history.length">
              <ul class="list">
                <li v-for="item in history"
                    v-on:click="onClickKeyword(item.keyword)">
                  {{item.keyword}}
                  <span class="date">{{item.date}}</span>
                  <button class="btn-remove" v-on:click.stop="onClickRemoveHistory(item.keyword)"></button>
                </li>
              </ul>
            </div>
            <div v-else>
              최근 검색어가 없습니다
            </div>
        </div>
      </div>
      <!-- 데이터를 표현할 때는 중괄호를 쓴다 -->
      <!-- {{msg}} -->
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>

<!-- FormComponent의 js코드에 바인딩되아있음 -->
<template id="search-form">
<!-- v-on : 이벤트 리스너 -->
  <!-- submit : 서브밋 이벤트를 리슨함 -->
  <!-- submit.prevent : submit시 preventDefault (화면 리로딩 안함) -->
  <form v-on:submit.prevent="onSubmit">
    
    <!-- Vue에 InputValue라는 변수로 바인딩 시킨다. -->
    <!-- v-model은 양방향 바인딩을 지원한다. -->
    <input type="text" v-on:keyup="onKeyup" v-model="inputValue" placeholder="검색어를 입력하세요"  autofocus>
    
    <!-- v-show: 해당하는 모델이 있으면 show 없으면 hide -->
    <button type="text" v-on:click="onReset" v-show="inputValue.length" class="btn-reset"></button>
  </form>
</template>

<template id="search-result">
  <div v-if="data.length">
    <ul>
      <!-- v-for : 배열을 처리할때 쓰는 디렉티브 -->
      <li v-for="item in data">
        <!-- v-bind : 어트리뷰트의 값을 바인딩 하는 역할 -->
        {{item.name}}
        <!-- <img v-bind:src="item.image">  -->
      </li>
    </ul>
  </div>
  <!-- 검색결과가 없을때는 아래와 같은게 보인다 -->
  <div v-else>
    {{query}} 검색어로 찾을 수 없습니다.
  </div>
</template>